name: {{ ansible_facts['hostname'] }}
advertise-client-urls: http://{{ ansible_facts['default_ipv4']['address'] }}:2379
data-dir: /var/lib/etcd/postgresql
initial-advertise-peer-urls: http://{{ ansible_facts['default_ipv4']['address'] }}:2380
initial-cluster: pg1=http://pg1:2380,pg2=http://pg2:2380,haproxy=http://haproxy:2380
initial-cluster-state: new
initial-cluster-token: patroni_cluster
listen-client-urls: http://{{ ansible_facts['default_ipv4']['address'] }}:2379,http://127.0.0.1:2379
listen-peer-urls: http://{{ ansible_facts['default_ipv4']['address'] }}:2380
dial-timeout: 20s
read-timeout: 20s
write-timeout: 20s
